[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mcp = "<2"
python-dotenv = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
advisor = "python -m advisor_mcp.server"
